<head>
<pre class="brush:xml"><meta name="viewport" content="width=device-width">
</head>

<h1>Hello, <%=h @user.login %>!</h1>

<p>
  あなたは<%=h @user.login_count -%>回目のログインです。<br>
  <% if @user.login_count > 1 -%>
  前回は<%=h @user.last_login_at -%>にログインしました。
  <% end -%>
</p>

<p>アプリからログインすることができます。</p>

<%= link_to 'ログアウト', user_session_path, :method => :delete %>
